<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>TestDBConnectionsname</servlet-name>
        <servlet-class>ServletFiles.TestDBConnections</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPagename</servlet-name>
        <servlet-class>ServletFiles.RegisterPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPagename</servlet-name>
        <servlet-class>ServletFiles.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCreditCardname</servlet-name>
        <servlet-class>ServletFiles.AddCreditCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTransactionsname</servlet-name>
        <servlet-class>ServletFiles.AddTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCardsname</servlet-name>
        <servlet-class>ServletFiles.DeleteCards</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTransaction</servlet-name>
        <servlet-class>ServletFiles.AddTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTransactionsname1</servlet-name>
        <servlet-class>ServletFiles.AddTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonthlyReportServletname</servlet-name>
        <servlet-class>ServletFiles.MonthlyReportServlet_OLD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadBillServlet</servlet-name>
        <servlet-class>ServletFiles.UploadBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Monthlyreportservlet</servlet-name>
        <servlet-class>ServletFiles.MonthlyReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MonthlyReportScheduler</servlet-name>
        <servlet-class>ServletFiles.MonthlyReportScheduler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppStartupListener</servlet-name>
        <servlet-class>ServletFiles.AppStartupListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>controller.HomePageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestDBConnectionsname</servlet-name>
        <url-pattern>/TestDBConnectionsurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPagename</servlet-name>
        <url-pattern>/RegisterPageurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPagename</servlet-name>
        <url-pattern>/LoginPageurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCreditCardname</servlet-name>
        <url-pattern>/AddCreditCardurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTransactionsname</servlet-name>
        <url-pattern>/AddTransactionsurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCardsname</servlet-name>
        <url-pattern>/DeleteCardsurl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTransaction</servlet-name>
        <url-pattern>/AddTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTransactionsname1</servlet-name>
        <url-pattern>/AddTransactionsurl1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonthlyReportServletname</servlet-name>
        <url-pattern>/MonthlyReportServleturl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadBillServlet</servlet-name>
        <url-pattern>/UploadBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Monthlyreportservlet</servlet-name>
        <url-pattern>/Monthlyreportservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonthlyReportScheduler</servlet-name>
        <url-pattern>/MonthlyReportScheduler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppStartupListener</servlet-name>
        <url-pattern>/AppStartupListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/HomePageController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
